<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${basePackage}.dao.mapper.${uName}Mapper">

    <resultMap id="BaseResultMap" type="${basePackage}.dao.entity.${uName}DO">
        <#list columns as column>
        <result column="${column.originName}" property="${column.name}"/>
        </#list>
    </resultMap>

    <sql id="Base_Column_List">
        <#list columns as column>
        ${column.originName}<#if (column_has_next)>,</#if>
        </#list>
    </sql>

    <!--根据id查询单条-->
    <select id="selectByIds" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM ${originName} WHERE id = ${r"#{id}"} <#if deleteName??>AND ${deleteName} = 0</#if>
    </select>

    <!--根据ids查询多条-->
    <select id="selectOneById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM ${originName} WHERE id IN (
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            ${r"#{id}"}
        </foreach>
        )<#if deleteName??> AND ${deleteName} = 0</#if>
    </select>

    <!--条件查询多条-->
    <select id="selectByCondition" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM ${originName}
        <where>
            <#list columns as column>
            <#if column.index>
            <if test="null != ${column.name}">
                AND ${column.originName} = ${r"#{"}${column.name}${r"}"}
            </if>
            </#if>
            </#list>
            <#if deleteName??>AND ${deleteName} = 0</#if>
        </where>
    </select>

    <!--新增一条-->
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="${basePackage}.dao.entity.${uName}DO">
        INSERT INTO ${originName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <#list columns as column>
            <#if column.type=="String">
            <if test="null != ${column.name} and '' != ${column.name}">
                ${column.originName},
            </if>
            <#else>
            <if test="null != ${column.name}">
                ${column.originName},
            </if>
            </#if>
            </#list>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <#list columns as column>
            <#if column.type=="String">
            <if test="null != ${column.name} and '' != ${column.name}">
                ${r"#{"}${column.name}${r"}"}
            </if>
            <#else>
            <if test="null != ${column.name}">
                ${r"#{"}${column.name}${r"}"}
            </if>
            </#if>
            </#list>
        </trim>
    </insert>

    <!--根据主键id更新-->
    <update id="updateById">
        update ${originName}
        <set>
            <#list columns as column>
            <#if column.name != "id">
            <#if column.type=="String">
            <if test="null != ${column.name} and '' != ${column.name}">
                ${column.originName} = ${r"#{"}${column.name}${r"}"}
            </if>
            <#else>
            <if test="null != ${column.name}">
                ${column.originName} = ${r"#{"}${column.name}${r"}"}
            </if>
            </#if>
            </#if>
            </#list>
        </set>
        <where>
            id = ${r"#{id}"}
        </where>
    </update>
</mapper>